[submodule "aurora/wannaswap-sdk"]
	path = aurora/wannaswap-sdk
	url = git@github.com:thanhnguyennguyen/wannaswap-sdk.git
[submodule "moonbeam/stellaswap-sdk"]
	path = moonbeam/stellaswap-sdk
	url = git@github.com:thanhnguyennguyen/stellaswap-sdk.git
[submodule "aurora/auroraswap-sdk"]
	path = aurora/auroraswap-sdk
	url = git@github.com:thanhnguyennguyen/auroraswap-sdk.git
[submodule "aurora/trisolaris-sdk"]
	path = aurora/trisolaris-sdk
	url = git@github.com:trisolaris-labs/sdk.git
[submodule "moonbeam/solarflare-sdk"]
	path = moonbeam/solarflare-sdk
	url = git@github.com:thanhnguyennguyen/solarflare-sdk.git
[submodule "moonbeam/beamswap-sdk"]
	path = moonbeam/beamswap-sdk
	url = git@github.com:thanhnguyennguyen/beamswap-sdk.git
[submodule "avalanche/joe-sdk"]
	path = avalanche/joe-sdk
	url = https://github.com/traderjoe-xyz/joe-sdk.git
[submodule "avalanche/pangolin-sdk"]
	path = avalanche/pangolin-sdk
	url = git@github.com:thanhnguyennguyen/pangolin-sdk.git
[submodule "bsc/biswap-sdk"]
	path = bsc/biswap-sdk
	url = git@github.com:thanhnguyennguyen/biswap-sdk.git
[submodule "bsc/babyswap-sdk"]
	path = bsc/babyswap-sdk
	url = git@github.com:thanhnguyennguyen/babyswap-sdk.git
[submodule "moonbeam/zenlink-sdk"]
	path = moonbeam/zenlink-sdk
	url = git@github.com:thanhnguyennguyen/zenlink-sdk.git
[submodule "bsc/apeswap-sdk"]
	path = bsc/apeswap-sdk
	url = git@github.com:ApeSwapFinance/apeswap-sdk.git
[submodule "aurora/nearpad-sdk"]
	path = aurora/nearpad-sdk
	url = git@github.com:thanhnguyennguyen/nearpad-sdk.git
[submodule "polygon/quickswap-sdk"]
	path = polygon/quickswap-sdk
	url = git@github.com:QuickSwap/QuickSwap-sdk.git
[submodule "polygon/dfyn-sdk"]
	path = polygon/dfyn-sdk
	url = git@github.com:thanhnguyennguyen/dfyn-sdk.git
[submodule "polygon/sushiswap-sdk"]
	path = polygon/sushiswap-sdk
	url = git@github.com:thanhnguyennguyen/sushiswap-polygon-sdk.git
