[submodule "aurora/wannaswap-sdk"]
	path = aurora/wannaswap-sdk
	url = git@github.com:thanhnguyennguyen/wannaswap-sdk.git
[submodule "moonbeam/stellaswap-sdk"]
	path = moonbeam/stellaswap-sdk
	url = git@github.com:thanhnguyennguyen/stellaswap-sdk.git
[submodule "aurora/auroraswap-sdk"]
	path = aurora/auroraswap-sdk
	url = git@github.com:thanhnguyennguyen/auroraswap-sdk.git
[submodule "aurora/trisolaris-sdk"]
	path = aurora/trisolaris-sdk
	url = git@github.com:trisolaris-labs/sdk.git
